<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Yelpify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3CE2EE7A1C6C5EC8000C9088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CE2EE8E1C6C5EC8000C9088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CE2EE991C6C5EC8000C9088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
